*{
    color: #070707;
}
h5, h6, h4, p{
    text-align: center;
}
h4, label{
    color: white;
}
/* ------------------------------------------------------------------ */

/* NAVBAR */
nav{
    background-image:  url(../img/fondo-navbar.jpg);
    background-position: right bottom, left top;
    text-align: left;
    display: flex;
    background-repeat: repeat-x;
    background-size: contain;
}
.nav-link{
    color: rgb(165, 164, 164);
    text-align: left;
}

/* ------------------------------------------------------------------ */

/* TITULO */
h1{
    font-size: 3rem;
    text-align: center;
}
.subtitulo{
    text-decoration-line: overline;
    text-decoration-style: solid;
    text-decoration-color: black;
}
.pub{
    font-family: 'Times New Roman', Times, serif;
    font-display: center;
    font-style: normal;
    color: rgb(89, 89, 89);
}

/* ------------------------------------------------------------------ */
/* Productos y Tablas*/
/* .row{
    align-self: center;
} */

.card{
    /* align-items: center;
    text-align: center; */
    border: 1px solid white;
    /* align-content: center; */
}
/* ------------------------------------------------------------------ */
/* Productos */
.card-header{
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: white;
}

/* ------------------------------------------------------------------ */
/* Tablas Comuniquemonos y Reserva */
@media screen and (max-width: 570px){
    div.form-control {
        display:none;
    }
  }
  @media screen and (max-width: 760px) and (min-width: 571px){
    div.form-control {
        display:none;
    }
  }

/* ------------------------------------------------------------------ */
/* footer */
.card-footer{
    position: relative;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: large;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}